# Godot 4+ specific ignores
.godot/

# Godot-specific ignores
*.translation

# Imported resources
.import/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Exported builds
export/
export_presets.cfg

# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json

# Python
web/.venv/
__pycache__/
*.pyc

# Node
web/frontend/node_modules/
